.circle-outer{
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
    width: 400px;
    height: 400px;
    transform: rotateY(0deg);
    animation: ani 2s infinite linear;
    left: 40%;
    top: 200px;
}
@keyframes ani {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.circle {
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
}
.circle-inner {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ani2 2s infinite linear;

}
.inner-1 {
    background-image: linear-gradient(to bottom, yellow, red);
    transform: rotateY(180deg);
}
.inner-2 {
    background-image: linear-gradient(to top right, yellowgreen, cyan);
    transform: rotateY(180deg);
}

.circle:hover {
    transform: rotateY(180deg);
}

@keyframes ani2 {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}
.card-block {
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
    width: 300px;
    height: 400px;
}
.card-block:hover {
    transform: rotateY(180deg);
}
.card {
    width: 300px;
    height: 400px;
    position: absolute;
    backface-visibility: hidden;
}
.card-1 {
    background: steelblue;
}
.card-2 {
    background: skyblue;
    transform: rotateY(180deg);
}
p {
    text-align: center;
    padding-top: 180px;
}
.card-block:hover {
    transform: rotateY(180deg);
}