body {
    font: 18px Arial;
    color: white;
}
.table {
    display: table;
    margin: 100px 0 0 650px;
}
.table-cell {
    display: table-cell;
    height: 200px;
    width: 300px;
    position: relative;
}

h2 {
    margin: 20px;
}
p {
    margin-left: 20px;
}
.hidden {
    position: absolute;
    height: 200px;
    width: 300px;
    top: -18px;
    left: -20px;
    display: none;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}
.hidden {
    padding-top: 90px;
}
.table-cell:hover .hidden {
    display: block;
    background: rgba(50,0,200, 0.8);
}
.cell-1{
    background-image: linear-gradient(to bottom right, green, red);
}
.cell-2{
    background: url(../images/3-1.jpg);
    background-size: cover;
}
.cell-3{
    background: url(../images/3-2.jpg);
    background-size: cover;
}
.cell-4{
    background: url(../images/3-3.jpg);
    background-size: cover;
}
.cell-5{
    background: url(../images/3-4.jpg);
    background-size: cover;
}
.cell-6 {
    background-image: linear-gradient(to right, red, black);
}